<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Orphanage.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Orphanage.My.MySettings.OrphansDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=OrphansDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="TelerikCommon" publicKeyToken="5BB2A467CBEC794E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2013.3.1016.40" newVersion="2013.3.1016.40"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Telerik.WinControls" publicKeyToken="5BB2A467CBEC794E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2013.3.1016.40" newVersion="2013.3.1016.40"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Telerik.WinControls.UI" publicKeyToken="5BB2A467CBEC794E" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2013.3.1016.40" newVersion="2013.3.1016.40"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <Orphanage.My.MySettings>
   <setting name="OrphanMaxAge" serializeAs="String">
    <value>17</value>
   </setting>
   <setting name="OrphanAllowedAge" serializeAs="String">
    <value>15</value>
   </setting>
   <setting name="ShowHiddenObject" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Theme" serializeAs="String">
    <value />
   </setting>
   <setting name="SaveWindowsState" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="SaveGridState" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseColors" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WindowsFont" serializeAs="String">
    <value>Tahoma, 8.25pt</value>
   </setting>
   <setting name="GridFont" serializeAs="String">
    <value>Tahoma, 8.25pt</value>
   </setting>
   <setting name="ListsFont" serializeAs="String">
    <value>Tahoma, 8.25pt</value>
   </setting>
   <setting name="CheckIdentitysBeforAdd" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="checkSmilarNameBeforAdd" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CheckIdentityBeforEdit" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="CheckSmilaNameBeforEdit" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseFullname" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ShowErrosInMessageBox" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AddressSeprator" serializeAs="String">
    <value>-</value>
   </setting>
   <setting name="UseSupporterColorForBails" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseThousendSeprator" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="DecimalPercion" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="CanEditBoxAcmount" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Make_A_Bill_for_every_orphan" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Make_A_Bill_for_every_Family" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="Make_A_Tow_Bills_For_One_Transaction" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ConvertToWordByCom" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ExportAFullFolderForEeveryFamily" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CheckFamilyCardBeforAdd" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="checkFamilyCardBeforEdit" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WordSelectedTemplete" serializeAs="String">
    <value />
   </setting>
   <setting name="WordMakeOneFile" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="WordUseOrphanName" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WordExportDocuments" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WordMakeNewFolder" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WordFinancialTemplete" serializeAs="String">
    <value />
   </setting>
   <setting name="ExcelDateFormat" serializeAs="String">
    <value>yyyy/MM/dd</value>
   </setting>
   <setting name="GeneralDateFormat" serializeAs="String">
    <value>yyyy/MM/dd</value>
   </setting>
   <setting name="BailsReplaceAll" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BailsCancelOrphansBails" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CancelFamiliesBails" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UseBackgroundColor" serializeAs="String">
    <value>False</value>
   </setting>
  </Orphanage.My.MySettings>
 </userSettings>
</configuration>
